<div class="card" class="mt-3">
  <div class="card-header text-white bg-info">
    <h5>Liste de produits</h5>
  </div>
  <div class="card-body">
      <table *ngIf='data && data.length' class="table table-bordered table-striped">
          <thead>
            <tr>
              <th >Code</th>
              <th >Titre</th>
              <th >prixUnitaire</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of data">
              <th>{{p.code}}</th>
              <td><a [routerLink]="['/detail', p.code]">{{p.titre}}</a></td>
              <td>{{p.prixUnitaire | currency:"EUR":"symbol"}}</td>
            </tr>
          </tbody>
        </table>

        <!-- <a [routerLink]="['/detail', 'X200']">First</a>
        <a [routerLink]="['/detail', 'Y200']">Second</a> -->
  </div>
</div>
