<h1>
  Code du produit : {{code}}
</h1>
<div class="card" class="mt-3">
    <div class="card-header text-white bg-info">
      <h5>Détail du produit</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <!--<thead>
              <tr>
                <th >Code</th>
                <th >Titre</th>
                <th >prixUnitaire</th>
              </tr>
            </thead>-->
            <tbody>
              <tr>
                <td>Code</td>
                <td>{{produit?.code}}</td>
              </tr>
              <tr>
                <td>Titre</td>
                <td>{{produit?.titre}}</td>
              </tr>
              <tr>
                <td>PrixUnitaire</td>
                <td>{{produit?.prixUnitaire | currency:"EUR":"symbol"}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <button type="button"  class="btn btn-outline-info" (click)='navigateToList()'>Voir le résultat de produits</button>
  </div>
